<div class="register-page">
    <!-- Компонент шагов -->
    <app-step [steps]="RegisterStepsOnAction" (stepChanged)="onStepChanged($event)" lineColorStep="Primary" borderColorStep="Primary" bgColorStep="Transparent"
    activeBorderColorStep="DarkOrange"
              lineColorStepActive="DarkGreen"
              [validateSteps]="validateLoginData"
              [onFinish]="onFinish"
    ></app-step>

    <!-- Контент для текущего шага -->
    <div class="step-content">
        <ng-container *ngIf="currentStepId === RegisterStepsId.EmailStepId">
            <app-header-description
                    title="Введите вашу электронную почту"
                    description="Укажите действующий адрес электронной почты. Он будет использоваться для входа в систему и восстановления доступа в случае необходимости."
            />
            <app-input
                    type="email"
                    [borderColor]="validateLoginData['step_1']['isEmailValid'] ? 'DarkGreen' : 'White'"
                    backgroundColor="Transparent"
                    placeholder="Введите электронную почту"
                    size="Long"
                    (valueChange)="onEmailChange($event)"
                    [value]="loginUserData.email"
                    [maxLength]="inputLimits.email.maxLength"
            >
            </app-input>
        </ng-container>
        <ng-container *ngIf="currentStepId === RegisterStepsId.ConfirmEmailStepId">
            <app-header-description
                    title="Подтвердите вашу электронную почту"
                    [description]="'Введите код подтверждения, отправленный на вашу электронную почту: ' + loginUserData.email + '. Если письмо не пришло, проверьте папку Спам.'"
            />
            <app-input
                    type="number"
                    [borderColor]="validateLoginData['step_2']['isEmailCodeValid'] ? 'DarkGreen' : 'White'"
                    backgroundColor="Transparent"
                    placeholder="Введите код подтверждения"
                    size="Long"
                    (valueChange)="onConfirmEmailCodeChange($event)"
                    [value]="loginUserData.confirmEmailCode"
                    [maxLength]="inputLimits.emailCode.maxLength"
                    [maxValue]="inputLimits.emailCode.max"
            >
            </app-input>
        </ng-container>
        <ng-container *ngIf="currentStepId === RegisterStepsId.PasswordStepId">
            <app-header-description
                    title="Установите мастер-пароль"
                    description="Введите мастер-пароль, который будет использоваться для доступа к менеджеру паролей. Подтвердите его, чтобы убедиться, что вы не допустили ошибку при вводе."
            />
            <div class="master-password-container">
                <app-input
                        type="password"
                        [borderColor]="validateLoginData['step_3']['isPasswordValid'] && passwordStrength >= 3 ? 'DarkGreen' : 'White'"
                        backgroundColor="Transparent"
                        placeholder="Введите мастер-пароль"
                        size="Long"
                        (valueChange)="onPasswordChange($event)"
                        [value]="loginUserData.masterPassword"
                        [minLength]="inputLimits.password.minLength"
                        [maxLength]="inputLimits.password.maxLength"
                >
                </app-input>
                <app-text-link (click)="WindowService.openPasswordGenerateWindow()" *ngIf="loginUserData.masterPassword.length === 0" text="Сгенерировать пароль"/>
                <app-password-strength-bar id="register-password-strength" *ngIf="loginUserData.masterPassword.length != 0" [password]="loginUserData.masterPassword"/>
            </div>
            <app-input
                    type="password"
                    [borderColor]="validateLoginData['step_3']['isPasswordsMatch'] ? 'DarkGreen' : 'White'"
                    backgroundColor="Transparent"
                    placeholder="Подтвердите мастер-пароль"
                    size="Long"
                    (valueChange)="onConfirmPasswordChange($event)"
                    *ngIf="passwordStrength >=3"
                    [value]="loginUserData.confirmMasterPassword"
                    [minLength]="inputLimits.password.minLength"
                    [maxLength]="inputLimits.password.maxLength"
            >
            </app-input>
        </ng-container>
        <ng-container *ngIf="currentStepId === RegisterStepsId.HintPasswordStepId">
            <app-header-description
                    title="Создайте подсказку для пароля"
                    description="Введите подсказку, которая поможет вам вспомнить мастер-пароль в случае его потери. Убедитесь, что подсказка не слишком очевидна, чтобы сохранить безопасность вашего аккаунта."
            />
            <app-input
                    type="password"
                    [borderColor]="validateLoginData['isPasswordHintValid'] ? 'DarkGreen' : 'White'"
                    backgroundColor="Transparent"
                    placeholder="Подсказка для мастер-пароля"
                    size="Long"
                    (valueChange)="onHintChange($event)"
                    [value]="loginUserData.hintPassword"
                    [maxLength]="inputLimits.hint.maxLength"
            >
            </app-input>
        </ng-container>
<!--        <ng-container *ngIf="currentStepId === RegisterStepsId.TwoFactorStepId">-->
<!--            <app-header-description-->
<!--                    title="Настройка двухфакторной аутентификации"-->
<!--                    description="Для дополнительной безопасности активируйте двухфакторную аутентификацию. Используя приложение для генерации одноразовых кодов, например, Google Authenticator, вы сможете защитить свой аккаунт от несанкционированного доступа."-->
<!--            />-->
<!--        </ng-container>-->
        <!-- Использование компонента -->
        <app-round-button
                (click)="backToStartPage()"
                icon="../../../assets/icons/controls/buttons/left-arrow-back.svg"
                id="back-btn-register"
        ></app-round-button>
    </div>
</div>
