<div class="login-page">
    <app-round-button
            (click)="backToStartPage()"
            icon="../../../assets/icons/controls/buttons/left-arrow-back.svg"
            id="back-btn-login"
    ></app-round-button>

    <app-two-fa-page [masterPassword]="loginUserData.masterPassword" [userID]="userID" *ngIf="mode == LoginModes.TWO_FA"/>

    <ng-container *ngIf="mode == LoginModes.LOGIN">
        <div class="login-content">
            <app-header-description
                    title="Войти"
                    description="Пожалуйста, введите свои учетные данные для входа в аккаунт. Если у вас нет аккаунта, зарегистрируйтесь."
            />

            <div class="login-content-inputs">
                <app-input
                        type="email"
                        backgroundColor="Transparent"
                        placeholder="Введите электронную почту"
                        size="Long"
                        [borderColor]="validateLoginData.isEmailValid ? 'DarkGreen' : 'White'"
                        (valueChange)="onEmailChange($event)"
                        [value]="loginUserData.email"
                />

                <app-input
                        type="password"
                        [borderColor]="validateLoginData.isPasswordValid ? 'DarkGreen' : 'White'"
                        backgroundColor="Transparent"
                        placeholder="Введите мастер-пароль"
                        size="Long"
                        (valueChange)="onPasswordChange($event)"
                        [value]="loginUserData.masterPassword"
                >
                </app-input>
                <app-text-link *ngIf="loginUserData.masterPassword.length === 0 && hint.mode == HintModes.NONE" (click)="getHint()" text="Получить подсказку"/>
                <ng-container *ngIf="hint.mode == HintModes.REQUEST && loginUserData.masterPassword.length === 0">
                    <app-input
                            type="number"
                            [borderColor]="validateLoginData.isPasswordValid ? 'DarkGreen' : 'White'"
                            backgroundColor="Transparent"
                            placeholder="Введите код с почты..."
                            size="Medium"
                            (valueChange)="onHintCodeChange($event)"
                            [value]="hint.code"
                    >
                    </app-input>
                    <app-solid-button (click)="onConfirmHintCode(hintRequest.uuid, hint.code)" text="Подтвердить код" bgColor="DarkGreen" size="MediumLong"/>
                </ng-container>
                <ng-container *ngIf="hint.mode == HintModes.SHOW">
                    <span class="hint">Подсказка к паролю: <span class="hint-text">{{hint.value}}</span></span>
                </ng-container>
            </div>

            <app-solid-button (click)="onLogin()" text="Продолжить" *ngIf="validateLoginData.isPasswordValid && validateLoginData.isEmailValid" bgColor="DarkGreen" size="Long"/>
        </div>
    </ng-container>
</div>
