<div class="account-page">
    <header class="account-page-header">
        <app-header-description
                title="Мой аккаунт"
                description="Персонализируйте профиль, настройте безопасность и обеспечьте защиту ваших паролей."
        />
    </header>

    <main class="account-page-main-content">
        <div class="main-user-data">
            <div class="account-additional-data">
                <div class="icon-data">
                    <div class="icon" [style.background]="colorData.colorIcon">
                        {{ userData.email.slice(0, 2) }}
                    </div>
                </div>
            </div>
            <div class="account-main-data">
                <app-input
                        label="Имя пользователя"
                        labelSide="Top"
                        size="Long"
                        borderColor="White"
                        [value]="userData.username"
                />
                <app-input
                        label="Электронная почта"
                        labelSide="Top"
                        size="Long"
                        borderColor="White"
                        [value]="userData.email"
                />
            </div>
        </div>
        <div class="account-fingerprint">
            <app-header-description titleType="h3" title="Отпечаток вашего аккаунта:"/>
            <span class="fingerprint-text" [style.color]="colorData.colorFingerprint">{{userData.fingerprint}}</span>
        </div>
    </main>

    <footer class="account-page-footer">
        <app-header-description title="Опасная зона" titleColor="DarkRed"/>
        <div class="account-page-danger-zone" [style.border]="'2px solid ' + colorData.colorDangerZone" [style.border-radius]="'10px'">
            <app-solid-button
                    text="Удалить хранилище"
                    bgColor="DarkRed"
                    size="MediumLong"
            />

            <app-solid-button
                    text="Удалить аккаунт"
                    bgColor="DarkRed"
                    size="MediumLong"
            />
        </div>
    </footer>
</div>
