<div class="modal-content">
    <header class="modal-header">
        <h2>Резервная копия и восстановление паролей</h2>
    </header>

    <main class="modal-body">
        <div
                class="drop-zone"
        >
            <app-solid-button
                    size="MediumLong"
                    bgColor="DeepPurple"
                    text="Создать резервную копию"
                    (click)="createBackup()"
            />

            <app-solid-button
                    size="MediumLong"
                    bgColor="DarkGreen"
                    text="Восстановить пароли"
                    (click)="restorePasswords()"
            />
        </div>
    </main>

</div>