<div class="modal-content">
    <header class="modal-header">
        <h2>Восстановление паролей</h2>
    </header>

    <main class="modal-body">
        <div
                class="drop-zone"
        >
            <div class="file-selector">
                <app-solid-button
                        class="select-file-button"
                        (click)="selectFile()"
                        [disabled]="isProcessing"
                        size="MediumLong"
                        bgColor="DeepPurple"
                        [text]="selectedFile ? 'Выбрать другой файл' : 'Выбрать JSON-файл'"
                />
                <p class="file-status" *ngIf="selectedFile">
                    Файл выбран: {{ selectedFile.name }}
                </p>
            </div>
            <div class="file-info" *ngIf="selectedFile && fileHash">
                <p><strong>Имя файла:</strong> {{ selectedFile.name }}</p>
                <p><strong>Размер:</strong> {{ selectedFile.size | number }} байт</p>
            </div>
        </div>

        <div class="file-info" *ngIf="fileInfo && fileHash">
            <p><strong>Имя файла:</strong> {{ fileInfo.name }}</p>
            <p><strong>Размер:</strong> {{ fileInfo.size | number }} байт</p>
        </div>
    </main>

    <footer class="modal-footer">
        <app-solid-button
                *ngIf="filePath"
                [disabled]="!selectedFile || isProcessing"
                (click)="restorePasswords()"
                [text]="isProcessing ? 'Обработка...' : 'Восстановить'"
                size="MediumLong"
                bgColor="DarkGreen"
        />
    </footer>
</div>