.home-tab-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.home-tab-top-widgets{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: initial;
    margin: 20px 0;
}

.home-tab-middle-widgets{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.home-tab-middle-panel{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.home-tab-bottom-widgets{
    margin-top: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

.home-tab-header{
    text-align: center;
}