<div class="home-tab-content">
    <div class="home-tab-header">
        <app-header-description
                [title]="greeting.title"
                [description]="greeting.description"
                titleType="h1"
        />
    </div>

    <div class="home-tab-top-widgets">
        <app-flower-strength-widget *ngIf="settingsLocalService.getHideFlowerStrengthWidget()" [securityLevel]="securityLevel"/>

        <app-widget-base
                [title]="'Генератор паролей'"
                [description]="'Генерируй надёжные пароли за секунду!'"
                [borderRadius]="'30px'"
                [size]="'LongMinHeight'"
                textAlign="Center"
                buttonText="Открыть"
                buttonColor="DarkGreen"
                (buttonClick)="WindowService.openPasswordGenerateWindow()"
        />
        
<!--        <app-widget-base-->
<!--                [title]="newPasswordActionInfo.title"-->
<!--                [description]="newPasswordActionInfo.description"-->
<!--                [button]="true"-->
<!--                [buttonText]="'Новый пароль'"-->
<!--                [borderRadius]="'15px'"-->
<!--                [size]="'Medium'"-->
<!--                textAlign="Center"-->
<!--                buttonColor="White"-->
<!--                buttonTextColor="DarkGreen"-->
<!--        />-->
    </div>

    <div class="home-tab-middle-widgets">
        <div class="home-tab-middle-panel">
            <ng-container *ngFor="let widget of PasswordsInfoWidgets; let i = index">
                <app-widget-base
                        [title]="widget.title + ': ' + getScoreByIndex(i)"
                        [description]="widget.description"
                        [descriptionColor]="'White'"
                        [borderRadius]="'30px'"
                        [size]="'MediumMinHeight'"
                        textAlign="Center"
                        [button]="false"
                        [backgroundColor]="passwordsInfo[i].color"
                />
            </ng-container>
        </div>
    </div>

    <div class="home-tab-bottom-widgets">
    </div>
</div>