.home-tab-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.home-tab-top-widgets{
    display: flex;
    flex-direction: row;
    gap: 30px;
}