<div class="entries-table" *ngIf="entries.length > 0">
    <table>
        <thead>
        <tr>
            <th *ngFor="let column of columns">{{ column.label }}</th>
            <th *ngIf="showActions">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of entries">
            <td *ngFor="let column of columns">{{ column.render(entry) ? column.render(entry) : '-' }}</td>
            <td class="entries-action-btns" *ngIf="showActions">
                <img src="assets/icons/controls/password-entries/copy.svg" alt="Copy" (click)="onCopyEntry(getEntryId(entry))">
                <img src="assets/icons/controls/password-entries/edit.svg" alt="Edit" (click)="onEditEntry(getEntryId(entry))">
                <img src="assets/icons/controls/password-entries/delete.svg" alt="Delete" (click)="onDeleteEntry(getEntryId(entry))">
            </td>
        </tr>
        </tbody>
    </table>
</div>