<div class="start-page-container" [style.background]="ThemeColors.GradientBluePurple">
    <ng-container *ngIf="mode === AuthModes.START">
        <img class="logo" src="assets/icons/general/logo/logo_transparent.png" alt="Логотип"/>
        <div class="start-page-action-btns">
            <app-solid-button (click)="onCreateAccountPage()" text="Создать новый аккаунт" size="Long" bgColor="DeepPurple"></app-solid-button>
            <app-solid-button (click)="onLoginAccountPage()" text="Войти в свой аккаунт" size="Long"></app-solid-button>
        </div>

        <a [href]="SocialLinks.GitHub" target="_blank" class="github-icon">
            <img src="assets/icons/social/github.svg" alt="GitHub" />
        </a>
    </ng-container>

    <ng-container *ngIf="mode === AuthModes.LOGIN">
        <app-login-page (changeMode)="changeMode($event)"/>
    </ng-container>

    <ng-container *ngIf="mode === AuthModes.REGISTER">
        <app-register-page (changeMode)="changeMode($event)"/>
    </ng-container>
</div>
