.password-details-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    width: 100%;
    max-width: 900px; /* Ограничение ширины */
    color: white;
}

h2 {
    margin: 0 0 15px;
    font-size: 24px;
    /*color: #333;*/
    text-align: center;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
    position: relative;
}

.label {
    font-weight: 600;
    color: #8f8f8f;
    min-width: 120px; /* Фиксированная ширина для выравнивания */
}

.value {
    flex-grow: 1;
    word-break: break-word; /* Перенос длинных строк */
}

.copy-btn {
    background: none;
    border: none;
    color: #4CAF50;
    font-size: 12px;
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease;
}

.copy-btn:hover {
    color: #45a049;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

/* Адаптивность */
@media (max-width: 768px) {
    .password-details-modal {
        max-width: 90vw;
    }

    h2 {
        font-size: 20px;
    }

    .label {
        min-width: 100px;
    }

    .copy-btn {
        font-size: 10px;
    }
}

.main-details{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-details-right{
    margin-top: 20px;
}

.details-info-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.password-details-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.header-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 70px;
}

.header-item img{
    width: 30px;
    height: 30px;
}

.password-details-header input{
    margin: 0;
    padding: 0;
}

.details-title input{
    font-size: 1.2rem!important;
    text-align: center;
}

.additional-items{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.additional-items-controls{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.copy-btn-description{
    position: absolute;
    bottom: 5px;
    right: 5px;
}