<div class="password-details-modal" *ngIf="localEntry">
    <header class="password-details-header" [style.background]="getHeaderGradient()">
        <div class="header-item">
            <img [src]="localEntry.favicon" *ngIf="localEntry.favicon">
            <app-input (valueChange)="updateField('name', $event)" class="details-title" [value]="localEntry.name" size="Medium" [isEditable]="isEditLocalEntry" placeholder="Введите название*"/>
        </div>
    </header>
    <div class="details">
        <div class="main-details">
            <div class="main-details-left">
                <div class="detail-item">
                    <span class="label">Имя пользователя:</span>
                    <app-input (valueChange)="updateField('credentials.username', $event)" [value]="localEntry.credentials.username" [isEditable]="isEditLocalEntry" placeholder="Введите имя пользователя"/>
                    <button *ngIf="mode === PasswordDetailsModalModes.EDIT" class="copy-btn" (click)="copyToClipboard(localEntry.credentials.username)">Копировать</button>
                </div>
                <div class="detail-item">
                    <span class="label">Эл.Почта:</span>
                    <app-input (valueChange)="updateField('credentials.email', $event)" [value]="localEntry.credentials.email" [isEditable]="isEditLocalEntry" placeholder="Введите эл.почту"/>
                    <button *ngIf="mode === PasswordDetailsModalModes.EDIT" class="copy-btn" (click)="copyToClipboard(localEntry.location.url)">Копировать</button>
                </div>
                <div class="detail-item">
                    <span class="label">Номер телефона:</span>
                    <app-input (valueChange)="updateField('credentials.phoneNumber', $event)" type="tel" [value]="localEntry.credentials.phoneNumber" [isEditable]="isEditLocalEntry" placeholder="Введите номер телефона"/>
                    <button *ngIf="mode === PasswordDetailsModalModes.EDIT" class="copy-btn" (click)="copyToClipboard(localEntry.location.url)">Копировать</button>
                </div>
                <div class="detail-item">
                    <span class="label">Пароль:</span>
                    <app-input (valueChange)="updateField('credentials.password', $event)" type="password" [value]="localEntry.credentials.password" [isEditable]="isEditLocalEntry" placeholder="Введите Пароль*"/>
                    <button *ngIf="mode === PasswordDetailsModalModes.EDIT" class="copy-btn" (click)="copyToClipboard(localEntry.credentials.password)">Копировать</button>
                </div>
                <div class="detail-item">
                    <app-password-strength-bar *ngIf="localEntry.credentials.password.length > 0" [showHints]="false" [password]="localEntry.credentials.password"/>
                </div>
                <div class="detail-item">
                    <span class="label">URL:</span>
                    <app-input (valueChange)="updateField('location.url', $event)" [value]="localEntry.location.url" [isEditable]="isEditLocalEntry" placeholder="Введите URL"/>
                    <button *ngIf="mode === PasswordDetailsModalModes.EDIT" class="copy-btn" (click)="copyToClipboard(localEntry.location.url)">Копировать</button>
                </div>
                <div class="detail-item" *ngIf="mode === PasswordDetailsModalModes.EDIT">
                    <span class="label">Домен:</span>
                    <app-input (valueChange)="updateField('location.domain', $event)" [value]="localEntry.location.domain" [isEditable]="isEditLocalEntry"/>
                    <button *ngIf="mode === PasswordDetailsModalModes.EDIT" class="copy-btn" (click)="copyToClipboard(localEntry.location.domain)">Копировать</button>
                </div>
            </div>

            <div class="main-details-right">
                <div class="detail-item">
                        <textarea
                                placeholder="Описание..."
                                [value]="localEntry.description"
                                [style.width]="'420px'"
                                [style.height]="'150px'"
                                [style.background]="'transparent'"
                                [style.border-radius]="'10px'"
                                style="resize: none; color: white; user-select: none"
                                [disabled]="!isEditLocalEntry"
                        ></textarea>
                </div>

                <div class="additional-items">
                    <div class="additional-items-controls">
                        <div class="detail-item">
                            <span class="label">Категория:</span>
                            <app-select
                                    [disabled]="!isEditLocalEntry"
                                    [contentEditable]="isEditLocalEntry"
                                    [options]="categoryOptions"
                            />
                        </div>
                        <div class="detail-item">
                            <span class="label">Избранное:</span>
                            <app-checkbox [disabled]="!isEditLocalEntry" [checked]="localEntry.security.isFavorite"/>
                        </div>
                    </div>

                    <div class="additional-items-controls">
                        <div class="detail-item">
                            <span class="label">Пин-код:</span>
                            <app-input
                                    [isEditable]="isEditLocalEntry"
                                    [value]="localEntry.credentials.pin"
                                    size="Medium"
                                    placeholder="Введите пин-код"
                            />
                        </div>
                    </div>

                    <div class="additional-items-controls">
                        <div class="detail-item">
                            <textarea
                                    placeholder="Коды восстановления..."
                                    [value]="localEntry.credentials.recoveryCodes"
                                    [style.width]="'420px'"
                                    [style.height]="'80px'"
                                    [style.background]="'transparent'"
                                    [style.border-radius]="'10px'"
                                    style="resize: none; color: white; user-select: none"
                                    [disabled]="!isEditLocalEntry"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="details-info">
        <div class="details-info-item">
            <div class="detail-item" *ngIf="mode === PasswordDetailsModalModes.EDIT">
                <span class="label">Создано:</span>
                <span class="value">{{ localEntry.metadata.createdAt | date:'dd.MM.yyyy HH:mm' }}</span>
            </div>
            <div class="detail-item" *ngIf="mode === PasswordDetailsModalModes.EDIT">
                <span class="label">Обновлено:</span>
                <span class="value">{{ localEntry.metadata.updatedAt | date:'dd.MM.yyyy HH:mm' }}</span>
            </div>
            <div class="detail-item" *ngIf="mode === PasswordDetailsModalModes.EDIT">
                <span class="label">Частота использования:</span>
                <span class="value">{{ localEntry.metadata.usageCount }} раз</span>
            </div>
        </div>

        <div class="details-info-item">
            <p *ngIf="mode===PasswordDetailsModalModes.CREATE">Поле* - Обязательное поле</p>
        </div>

        <div class="actions">
            <app-solid-button
                    *ngIf="mode === PasswordDetailsModalModes.EDIT && isEditLocalEntry"
                    text="Сохранить"
                    bgColor="DarkGreen"
                    size="Medium"
                    (click)="onUpdateEntry()"
            />

            <app-solid-button
                    *ngIf="mode === PasswordDetailsModalModes.EDIT && !isEditLocalEntry"
                    text="Разрешить редактирование"
                    bgColor="DarkGreen"
                    size="MediumLong"
                    (click)="editEntry()"
            />

            <app-solid-button
                    *ngIf="mode === PasswordDetailsModalModes.EDIT && isEditLocalEntry"
                    text="Запретить редактирование"
                    bgColor="DarkRed"
                    size="MediumLong"
                    (click)="onEditLocalEntry()"
            />

            <app-solid-button
                    *ngIf="mode === PasswordDetailsModalModes.CREATE && (localEntry.credentials.password.length > 0 && localEntry.name.length > 0)"
                    text="Создать"
                    bgColor="DarkGreen"
                    size="Medium"
            />
        </div>
    </footer>
</div>