<div class="password-details-modal" *ngIf="localEntry">
    <header class="password-details-header" [style.background]="getHeaderGradient()">
        <div class="header-item">
            <img [src]="localEntry.favicon" *ngIf="localEntry.favicon">
            <app-input (valueChange)="updateField('name', $event)" class="details-title" [value]="localEntry.name ? localEntry.name : ''" size="Medium" [isEditable]="isEditLocalEntry" placeholder="Введите название*" [placeholderRequire]="true"/>
        </div>
    </header>
    <div class="details">
        <div class="main-details">
            <div class="main-details-left">
                <div class="detail-item">
                    <span class="label">Имя пользователя:</span>
                    <app-input (valueChange)="updateField('credentials.username', $event)" [value]="localEntry.credentials.username ? localEntry.credentials.username : ''" [isEditable]="isEditLocalEntry" placeholder="Введите имя пользователя"/>
                    <button *ngIf="mode === PasswordDetailsModalModes.EDIT && localEntry.credentials.username && localEntry.credentials.username.length > 0" class="copy-btn" (click)="copyToClipboard(localEntry.credentials.username ? localEntry.credentials.username : '')">Копировать</button>
                </div>
                <div class="detail-item">
                    <span class="label">Эл.Почта:</span>
                    <app-input (valueChange)="updateField('credentials.email', $event)" [value]="localEntry.credentials.email ? localEntry.credentials.email : ''" [isEditable]="isEditLocalEntry" placeholder="Введите эл.почту"/>
                    <button *ngIf="mode === PasswordDetailsModalModes.EDIT && localEntry.credentials.email && localEntry.credentials.email.length > 0" class="copy-btn" (click)="copyToClipboard(localEntry.location.url ? localEntry.location.url : '')">Копировать</button>
                </div>
                <div class="detail-item">
                    <span class="label">Номер телефона:</span>
                    <app-input (valueChange)="updateField('credentials.phoneNumber', $event)" type="tel" [value]="localEntry.credentials.phoneNumber ? localEntry.credentials.phoneNumber : ''" [isEditable]="isEditLocalEntry" placeholder="Введите номер телефона"/>
                    <button *ngIf="mode === PasswordDetailsModalModes.EDIT && localEntry.credentials.phoneNumber && localEntry.credentials.phoneNumber.length > 0" class="copy-btn" (click)="copyToClipboard(localEntry.location.url ? localEntry.location.url : '')">Копировать</button>
                </div>
                <div class="detail-item">
                    <span class="label required-field">Пароль:</span>
                    <app-input (valueChange)="updateField('credentials.password', $event)" [type]="settingsLocalService.getHidePasswords() ? 'password': ''" [value]="localEntry.credentials.password ? localEntry.credentials.password : ''" [isEditable]="isEditLocalEntry" placeholder="Введите Пароль*"/>
                    <button *ngIf="mode === PasswordDetailsModalModes.EDIT" class="copy-btn" (click)="copyToClipboard(localEntry.credentials.password ? localEntry.credentials.password : '')">Копировать</button>
                </div>
                <div class="detail-item">
                    <app-password-strength-bar *ngIf="localEntry.credentials.password && localEntry.credentials.password.length > 0" [showHints]="false" [password]="localEntry.credentials.password ? localEntry.credentials.password : ''"/>
                </div>
                <div class="detail-item">
                    <span class="label">URL:</span>
                    <app-input (valueChange)="updateField('location.url', $event)" [value]="localEntry.location.url ? localEntry.location.url : ''" [isEditable]="isEditLocalEntry" placeholder="Введите URL"/>
                    <button *ngIf="mode === PasswordDetailsModalModes.EDIT && localEntry.location.url && localEntry.location.url.length > 0" class="copy-btn" (click)="copyToClipboard(localEntry.location.url ? localEntry.location.url : '')">Копировать</button>
                </div>
<!--                <div class="detail-item" *ngIf="mode === PasswordDetailsModalModes.EDIT">-->
<!--                    <span class="label">Домен:</span>-->
<!--                    <app-input (valueChange)="updateField('location.domain', $event)" [value]="localEntry.location.domain ? localEntry.location.domain : ''" [isEditable]="isEditLocalEntry"/>-->
<!--                    <button *ngIf="mode === PasswordDetailsModalModes.EDIT" class="copy-btn" (click)="copyToClipboard(localEntry.location.domain ? localEntry.location.domain: '')">Копировать</button>-->
<!--                </div>-->
            </div>

            <div class="main-details-right">
                <div class="detail-item">
                        <textarea
                                placeholder="Описание..."
                                [value]="localEntry.description"
                                [style.width]="'420px'"
                                [style.height]="'150px'"
                                [style.background]="'transparent'"
                                [style.border-radius]="'10px'"
                                style="resize: none; color: white; user-select: none"
                                [disabled]="!isEditLocalEntry"
                                (change)="updateTextAreaField('description_field', $event)"
                        >
                        </textarea>
                        <button *ngIf="mode === PasswordDetailsModalModes.EDIT && localEntry.description && localEntry.description.length > 0" class="copy-btn copy-btn-description" (click)="copyToClipboard(localEntry.description ? localEntry.description : '')">Копировать</button>
                </div>

                <div class="additional-items">
                    <div class="additional-items-controls">
                        <div class="detail-item">
                            <span class="label">Категория:</span>
                            <app-select
                                    [disabled]="!isEditLocalEntry"
                                    [contentEditable]="isEditLocalEntry"
                                    [options]="categoryOptions"
                                    (optionSelected)="updateSelectField('category_field', $event)"
                                    [defaultSelected]="selectedCategory"
                            />
                        </div>
<!--                        <div class="detail-item">-->
<!--                            <span class="label">Избранное:</span>-->
<!--                            <app-checkbox (checkedChange)="updateCheckboxField('isFavorite_field', $event)" [disabled]="!isEditLocalEntry" [checked]="localEntry.security.isFavorite ? localEntry.security.isFavorite : false"/>-->
<!--                        </div>-->
                    </div>

                    <div class="additional-items-controls">
                        <div class="detail-item">
                            <span class="label">Пин-код:</span>
                            <app-input
                                    [isEditable]="isEditLocalEntry"
                                    [value]="localEntry.credentials.pin ? localEntry.credentials.pin : ''"
                                    size="Medium"
                                    placeholder="Введите пин-код"
                                    (valueChange)="updateField('pin-code', $event)"
                            />
                            <button *ngIf="mode === PasswordDetailsModalModes.EDIT && localEntry.credentials.pin && localEntry.credentials.pin.length > 0" class="copy-btn" (click)="copyToClipboard(localEntry.credentials.pin ? localEntry.credentials.pin : '')">Копировать</button>
                        </div>
                    </div>

                    <div class="additional-items-controls">
                        <div class="detail-item">
                            <textarea
                                    placeholder="Коды восстановления..."
                                    [value]="localEntry.credentials.recoveryCodes"
                                    [style.width]="'420px'"
                                    [style.height]="'80px'"
                                    [style.background]="'transparent'"
                                    [style.border-radius]="'10px'"
                                    style="resize: none; color: white; user-select: none"
                                    [disabled]="!isEditLocalEntry"
                                    (change)="updateTextAreaField('recovery_codes', $event)"
                            ></textarea>
                            <button *ngIf="mode === PasswordDetailsModalModes.EDIT && localEntry.credentials.recoveryCodes && localEntry.credentials.recoveryCodes.length > 0" class="copy-btn copy-btn-description" (click)="copyToClipboard(localEntry.credentials.recoveryCodes ? localEntry.credentials.recoveryCodes.toString() : '')">Копировать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="details-info">
        <div class="details-info-item">
            <div class="detail-item" *ngIf="mode === PasswordDetailsModalModes.EDIT">
                <span class="label">Создано:</span>
                <span class="value">{{ localEntry.metadata.createdAt | date:'dd.MM.yyyy HH:mm' }}</span>
            </div>
            <div class="detail-item" *ngIf="mode === PasswordDetailsModalModes.EDIT">
                <span class="label">Обновлено:</span>
                <span class="value">{{ localEntry.metadata.updatedAt | date:'dd.MM.yyyy HH:mm' }}</span>
            </div>
<!--            <div class="detail-item" *ngIf="mode === PasswordDetailsModalModes.EDIT">-->
<!--                <span class="label">Частота использования:</span>-->
<!--                <span class="value">{{ localEntry.metadata.usageCount }} раз</span>-->
<!--            </div>-->
        </div>

        <div class="details-info-item">
            <p *ngIf="mode===PasswordDetailsModalModes.CREATE"><span class="required-field">Поле*</span> - Обязательное поле</p>
        </div>

        <div class="actions">
            <app-solid-button
                    *ngIf="mode === PasswordDetailsModalModes.EDIT && isEditLocalEntry"
                    text="Сохранить"
                    bgColor="DarkGreen"
                    size="Medium"
                    (click)="onUpdateEntry()"
            />

            <app-solid-button
                    *ngIf="mode === PasswordDetailsModalModes.EDIT && !isEditLocalEntry"
                    text="Разрешить редактирование"
                    bgColor="DarkGreen"
                    size="MediumLong"
                    (click)="editEntry()"
            />

            <app-solid-button
                    *ngIf="mode === PasswordDetailsModalModes.EDIT && isEditLocalEntry"
                    text="Запретить редактирование"
                    bgColor="DarkRed"
                    size="MediumLong"
                    (click)="onEditLocalEntry()"
            />

            <app-solid-button
                    *ngIf="mode === PasswordDetailsModalModes.CREATE && (localEntry.credentials.password && localEntry.credentials.password.length > 0 && localEntry.name && localEntry.name.length > 0)"
                    text="Создать"
                    bgColor="DarkGreen"
                    size="Medium"
                    (click)="onCreateEntry()"
            />
        </div>
    </footer>
</div>