<div class="password-details-modal" *ngIf="localEntry">
    <header class="password-details-header" [style.background]="getHeaderGradient()">
        <img [src]="localEntry.favicon">
        <h2>{{ localEntry.name }}</h2>
    </header>
    <div class="details">
        <div class="main-details">
            <div class="detail-item">
                <span class="label">URL:</span>
                <app-input [value]="localEntry.location.url"/>
                <button class="copy-btn" (click)="copyToClipboard(localEntry.location.url)">Копировать</button>
            </div>
            <div class="detail-item">
                <span class="label">Домен:</span>
                <app-input [value]="localEntry.location.domain"/>
                <button class="copy-btn" (click)="copyToClipboard(localEntry.location.domain)">Копировать</button>
            </div>
            <div class="detail-item">
                <span class="label">Имя пользователя:</span>
                <app-input [value]="localEntry.credentials.username"/>
                <button class="copy-btn" (click)="copyToClipboard(localEntry.credentials.username)">Копировать</button>
            </div>
            <div class="detail-item">
                <span class="label">Пароль:</span>
                <app-input type="password" [value]="localEntry.credentials.password"/>
                <button class="copy-btn" (click)="copyToClipboard(localEntry.credentials.password)">Копировать</button>
            </div>
            <div class="detail-item">
                <app-password-strength-bar *ngIf="localEntry.credentials.password.length > 0" [showHints]="false" [password]="localEntry.credentials.password"/>
            </div>
            <div class="detail-item">
                <span class="label">Категория:</span>
                <span class="value">{{ localEntry.metadata.category || 'Без категории' }}</span>
            </div>
        </div>
        <div class="detail-item">
            <span class="label">Создано:</span>
            <span class="value">{{ localEntry.metadata.createdAt | date:'dd.MM.yyyy HH:mm' }}</span>
        </div>
        <div class="detail-item">
            <span class="label">Обновлено:</span>
            <span class="value">{{ localEntry.metadata.updatedAt | date:'dd.MM.yyyy HH:mm' }}</span>
        </div>
        <div class="detail-item">
            <span class="label">Избранное:</span>
            <span class="value">{{ localEntry.security.isFavorite ? 'Да' : 'Нет' }}</span>
        </div>
        <div class="detail-item">
            <span class="label">Частота использования:</span>
            <span class="value">{{ localEntry.metadata.usageCount }} раз</span>
        </div>
    </div>
    <div class="actions">
        <app-solid-button
                *ngIf="mode === PasswordDetailsModalModes.EDIT"
                text="Редактировать"
                bgColor="DarkOrange"
                size="Medium"
                (click)="editEntry()"
        />

        <app-solid-button
                *ngIf="mode === PasswordDetailsModalModes.CREATE"
                text="Создать"
                bgColor="DarkGreen"
                size="Medium"
        />
    </div>
</div>