<div class="vault-container">
    <aside class="sidebar" [class.closed]="isSidebarClosed" [style.background]="ThemeColors.GradientPurple">
        <div class="sidebar-logo">
            <img src="assets/icons/general/logo/logo_transparent.png" alt="DurmanPass">
            <app-header-description titleType="h4" title="DurmanPass" titleColor="TextLight"/>
        </div>
        <div class="tabs">
            <div class="tab"
                    *ngFor="let tab of tabs"
                    (click)="selectTab(tab)"
                    [class.active]="tab === selectedTab">
                <img [src]="'assets/icons/controls/sidebar/tabs/' + tab.id + '.svg'" alt="tab.id"/>
                {{ tab.title }}
            </div>
        </div>
        <div class="help" (click)="openHelpModal()">
            <img src="assets/icons/controls/sidebar/help.svg">
        </div>
        <app-modal-base
                [isOpen]="modalsControls.help.isModalOpen"
                [closeOnOverlayClick]="true"
                [contentBorderRadius]="'12px'"
                (closed)="closeHelpModal()"
                [isDraggable]="true"
        >
            <app-help-modal/>
        </app-modal-base>
    </aside>
    <main class="content" [style.background]="ThemeColors.GradientBluePurple">
        <button class="toggle-btn" (click)="toggleSidebar()">
            {{ isSidebarClosed ? '➤' : '❮' }}
        </button>

        <ng-container *ngIf="selectedTab">
            <ng-container *ngComponentOutlet="selectedTab.content"></ng-container>
        </ng-container>
    </main>
</div>