.network-indicator {
    display: flex;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    z-index: 100;
}

.globe {
    width: 30px;
    height: 30px;
    perspective: 500px;
}

.globe-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
    filter: url(#glow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.globe-inner.online::before {
    content: '';
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    border-radius: 50%;
    border: 4px solid green;
    /*background: linear-gradient(45deg, transparent, transparent) padding-box,*/
    /*linear-gradient(45deg, #2ecc71, #27ae60) border-box;*/
    animation: rotateGlobe 3s linear infinite;
    top: -4px;
    left: -4px;
}

.globe-inner.offline::before {
    content: '';
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    border-radius: 50%;
    border: 4px solid red;
    /*background: linear-gradient(45deg, transparent, transparent) padding-box,*/
    /*linear-gradient(45deg, #2ecc71, #27ae60) border-box;*/
    animation: rotateGlobe 3s linear infinite;
    top: -4px;
    left: -4px;
}

.globe-inner img{
    width: 20px;
    height: 20px;
    animation: rotateGlobe 3s linear infinite;
    transform-style: flat;
    position: relative;
}

.globe-inner img.online{
    width: 20px;
    height: 20px;
    animation: rotateGlobe 3s linear infinite;
    transform-style: flat;
    position: relative;
}

.globe-inner img.offline{
    width: 20px;
    height: 20px;
    animation: none;
    transform-style: flat;
    position: relative;
}

.globe-inner.online {
    box-shadow: 0 0 15px #2ecc71;
}

.globe-inner.offline {
    box-shadow: 0 0 15px #e74c3c;
}

.status-text {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
    position: absolute;
}

.globe-inner.online .status-text {
    color: #2ecc71;
}

.globe-inner.offline .status-text {
    color: #e74c3c;
}

@keyframes rotateGlobe {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Скрытие текста при смене статуса */
.globe-inner .status-text {
    opacity: 0;
}

.globe-inner.online .status-text:first-child,
.globe-inner.offline .status-text:last-child {
    opacity: 1;
}