<div class="password-manager-page">
    <header class="password-header" *ngIf="PasswordManagerService.getEntriesCount() > 0">
        <div class="search-container">
            <app-input
            placeholder="Поиск паролей..."
            size="Long"
            (valueChange)="onSearchQueryChange($event)"
            [value]="PasswordManagerState.searchQuery"
            />
        </div>
        <div class="view-controls">
            <div class="view-toggle" (click)="toggleViewMode()" [style.background]="PasswordManagerState.viewMode === VIEW_MANAGER_MODES.TABLE ? ThemeColors.DarkOrange: ThemeColors.Grey">
                <img src="assets/icons/controls/view/table-view.svg" alt="">
            </div>

            <div class="view-toggle" (click)="toggleViewMode()" [style.background]="PasswordManagerState.viewMode === VIEW_MANAGER_MODES.CARD ? ThemeColors.DarkOrange: ThemeColors.Grey">
                <img src="assets/icons/controls/view/grid-view.svg" alt="">
            </div>
        </div>
    </header>

    <div class="password-manager-info" *ngIf="PasswordManagerService.getEntriesCount() > 0">
        <app-header-description
                title="Ваши пароли"
                description="Управляйте своими паролями: просматривайте, редактируйте и организуйте их по категориям для быстрого доступа."
        />
    </div>

    <app-chips
            *ngIf="PasswordManagerService.getEntriesCount() > 0"
            [chips]="categories"
            [selectedChips]="selectedCategory"
            (chipsSelected)="selectCategory($event)"
            (addChipHandler)="createNewCategory()"
    />

    <main class="password-entries">
        <div class="entries-table" data-view="table" *ngIf="PasswordManagerState.viewMode === VIEW_MANAGER_MODES.TABLE && filteredEntries.length > 0">
            <table>
                <thead>
                <tr>
                    <th>Название</th>
                    <th>URL</th>
                    <th>Имя пользователя</th>
                    <th>Категория</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let entry of filteredEntries">
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.location.domain }}</td>
                    <td>{{ entry.credentials.username }}</td>
                    <td>{{ entry.metadata.category }}</td>
                    <td class="entries-action-btns">
                        <img src="assets/icons/controls/password-entries/copy.svg" alt="" (click)="copyEntry(entry.id)">
                        <img src="assets/icons/controls/password-entries/edit.svg" alt="" (click)="editEntry(entry.id)">
                        <img src="assets/icons/controls/password-entries/delete.svg" alt="" (click)="deleteEntry(entry.id)">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="entries-cards" data-view="card" *ngIf="PasswordManagerState.viewMode === VIEW_MANAGER_MODES.CARD && filteredEntries.length > 0">
            <div class="entry-card" *ngFor="let entry of filteredEntries">
                <img [src]="entry.favicon" alt="Favicon" class="entry-favicon">
                <div class="entry-details">
                    <h3>{{ entry.name }}</h3>
                    <p>{{ entry.credentials.username }}</p>
                    <p>{{ entry.location.domain }}</p>
                    <p>Категория: {{ entry.metadata.category }}</p>
                </div>
                <div class="entry-actions">
                    <img src="assets/icons/controls/password-entries/copy.svg" alt="" (click)="copyEntry(entry.id)">
                    <img src="assets/icons/controls/password-entries/edit.svg" alt="" (click)="editEntry(entry.id)">
                    <img src="assets/icons/controls/password-entries/delete.svg" alt="" (click)="deleteEntry(entry.id)">
                </div>
            </div>
        </div >

        <div class="entries-not-found" *ngIf="PasswordManagerService.getEntriesCount() === 0">
            <app-header-description
                    title="Пока здесь пусто"
                    description="Добавьте свою первую запись, чтобы начать организовывать пароли и держать их под контролем!"
            />
            <app-solid-button
                    text="Добавить новый пароль"
                    size="Long"
                    bgColor="DarkGreen"
            />
        </div>
    </main>

    <footer class="password-footer" *ngIf="PasswordManagerService.getEntriesCount() > 0">
        <div class="stats-container">
            <ul>
                <li>Всего записей: <span class="total-entries">{{ stats.total }}</span></li>
                <li>Избранных: <span class="favorite-entries">{{ stats.favorites }}</span></li>
                <li>Слабых паролей: <span class="weak-passwords">{{ stats.weak }}</span></li>
                <li>Часто используемых: <span class="frequent-entries">{{ stats.frequent }}</span></li>
            </ul>
        </div>
        <div class="actions-container">
            <app-solid-button
            text="Добавить новый пароль"
            bgColor="DarkGreen"
            (click)="addEntry()"
            size="Long"
            />

            <app-select
                    [options]="exportOptions"
                    [placeholder]="'Экспортировать...'"
                    (optionSelected)="onExportChange($event)"
                    [resetToDefault]="true"
            />
        </div>
    </footer>
</div>