<div class="password-generate-page" [style.background]="ThemeColors.GradientDarkPurple">
    <app-header-description
            title="Генератор безопасных паролей"
            description="Создавайте стойкие пароли одним нажатием — быстро, удобно и безопасно."
    />

    <app-input
            borderColor="White"
            size="Long"
            [isEditable]="false"
            [value]="password"
    />

    <app-solid-button
    size="Large"
    text="Скопировать"
    bgColor="DeepPurple"
    (click)="copyToClipboard(password)"
    />

    <div class="password-generate-options">
        <app-input
                type="number"
                label="Длина"
                [value]="lengthPassword.toString()"
                borderColor="White"
                size="Long"
                labelSide="Top"
                (valueChange)="onInputLengthChange($event)"
        />
        <div class="options-checkbox">
            <app-checkbox
                    label="A-Z"
                    [checked]="generateOptions.useUpperLetters"
                    (checkedChange)="onCheckboxUpperChange($event)"
            />

            <app-checkbox
                    label="a-z"
                    [checked]="generateOptions.useLowerLetters"
                    (checkedChange)="onCheckboxLowerChange($event)"
            />

            <app-checkbox
                    label="0-9"
                    [checked]="generateOptions.useNumbers"
                    (checkedChange)="onCheckboxNumbersChange($event)"
            />

            <app-checkbox
                    label="!@#$%^&*"
                    [checked]="generateOptions.useSpecialSymbols"
                    (checkedChange)="onCheckboxSymbolsChange($event)"
            />
        </div>

        <div class="options-inputs">
            <app-input
                    type="number"
                    label="Минимум цифр"
                    [value]="generateOptions.minNumbers.toString()"
                    borderColor="White"
                    size="Small"
                    labelSide="Top"
                    (valueChange)="onInputMinNumbersChange($event)"
            />

            <app-input
                    type="number"
                    label="Минимум символов"
                    [value]="generateOptions.minSymbols.toString()"
                    borderColor="White"
                    size="Small"
                    labelSide="Top"
                    (valueChange)="onInputMinSymbolsChange($event)"
            />
        </div>
    </div>

    <app-solid-button
            size="Long"
            text="Сгенерировать"
            bgColor="DarkGreen"
            (click)="generate()"
    />
</div>