<div class="password-generate-page" [style.background]="ThemeColors.GradientDarkPurple">
    <app-header-description
            title="Генератор безопасных паролей"
            description="Создавайте стойкие пароли одним нажатием — быстро, удобно и безопасно."
    />

    <app-input
            borderColor="White"
            size="Long"
            [isEditable]="false"
            [value]="password"
    />

    <app-solid-button
    size="Long"
    text="Скопировать"
    bgColor="DeepPurple"
    (click)="copyToClipboard(password)"
    />

    <div class="password-generate-options">
        <app-checkbox
        label="A-Z"
        [checked]="generateOptions.useUpperLetters"
        />
    </div>

    <app-solid-button
            size="Long"
            text="Сгенерировать"
            bgColor="DarkGreen"
    />
</div>