.steps-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.steps-progress {
    display: flex;
    align-items: center;
}

.step {
    display: flex;
    align-items: center;
    position: relative;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s;
}

.line {
    width: 50px;
    height: 2px;
    background-color: lightgray;
}

.completed .circle {
    background-color: green!important;
    color: white;
}

.step-content {
    margin-top: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    width: 100%;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.navigation-left, .navigation-right {
    display: flex;
    align-items: center;
    position: absolute;
}

.navigation-left {
    justify-content: flex-start;
    margin-right: 10px;
    bottom: 20px;
    left: 20px;
}

.navigation-right {
    justify-content: flex-end;
    margin-left: 10px;
    bottom: 20px;
    right: 20px;
}